@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');

body{
    background-color: black;
}

#container {
  padding: 25px;
  width: 100%;
  position: relative;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

#gif {
  margin-left: auto;  
  margin-right: auto;  
}

h3{
   color: hotpink;
   font-family: 'Dancing Script', cursive;
   font-size: 200%;
   text-align: center;
}

#errorMessage {
  color: whitesmoke;
  position: absolute;
  top: 5%;
  left: 60%;
}

h1 {
  font-size: 150%;
  font-family: Helvetica, sans-serif;
}

#goHome {
  margin-left: auto;
  margin-right: auto;
}

a:link, a:visited {
    text-decoration: none;
    background-color: whitesmoke;
    color: #43464b;
    border: 2px solid hotpink;
    font-family: Helvetica, sans-serif;
    padding: 20px 25px;
    text-align: center;
    display: inline-block;
}

a:hover{
    opacity: 0.80;
}

@-webkit-keyframes bounceInLeft {
    from,
    60%,
    75%,
    90%,
    to {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  
    0% {
      opacity: 0;
      -webkit-transform: translate3d(-3000px, 0, 0);
      transform: translate3d(-3000px, 0, 0);
    }
  
    60% {
      opacity: 1;
      -webkit-transform: translate3d(25px, 0, 0);
      transform: translate3d(25px, 0, 0);
    }
  
    75% {
      -webkit-transform: translate3d(-10px, 0, 0);
      transform: translate3d(-10px, 0, 0);
    }
  
    90% {
      -webkit-transform: translate3d(5px, 0, 0);
      transform: translate3d(5px, 0, 0);
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  @keyframes bounceInLeft {
    from,
    60%,
    75%,
    90%,
    to {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  
    0% {
      opacity: 0;
      -webkit-transform: translate3d(-3000px, 0, 0);
      transform: translate3d(-3000px, 0, 0);
    }
  
    60% {
      opacity: 1;
      -webkit-transform: translate3d(25px, 0, 0);
      transform: translate3d(25px, 0, 0);
    }
  
    75% {
      -webkit-transform: translate3d(-10px, 0, 0);
      transform: translate3d(-10px, 0, 0);
    }
  
    90% {
      -webkit-transform: translate3d(5px, 0, 0);
      transform: translate3d(5px, 0, 0);
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  .bounceInLeft {
    -webkit-animation-name: bounceInLeft;
    animation-name: bounceInLeft;
  }

  h3 {
    animation-name: bounceInLeft;
    animation-duration: 5s;
  }